@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Всем Привет</h1>
    <img src=~/271040500.gif>
    <p>Источник <a href="https://docs.microsoft.com/aspnet/core">Веб-приложений с ASP.NET Core</a>.</p>
</div>